<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form method="POST">
      <input type="text" name="username" placeholder="Enter your name" required>
      <input type="password" name="password" placeholder="Enter your password" required>
      <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </body>